/*// another CSS file created by Lee Barber*/

#wrapper {
	width:  500px;
	height: 175px;
	border: 6px solid blue;
	margin: auto auto auto auto;

}

#greeting {
	text-align: center;
	margin-top: 5%;
}

#showingHours {
	float: left;
	height: 200px;
	width: auto;
	font-size: 100px;
	margin-left: 13%;
	margin-top: 5%;
/*	border-left: 4px solid black;
	border-right: 2px solid black;
	border-top: 4px solid black;
	border-bottom: 4px solid black;*/
	/*experimenting with borders*/

}

#showingMinutes {
	float: left;
	height: 200px;
	width: auto;
	font-size: 100px;
	margin: auto;
	margin-left: 2%;
	margin-top: 5%;
/*	border-left: 2px solid black;
	border-right: 2px solid black;
	border-top: 4px solid black;
	border-bottom: 4px solid black;*/
	/*experimenting with borders*/
}

#showingSeconds {
	float: left;
	height: 200px;
	width: auto;
	font-size: 100px;
	margin: auto;
	margin-left: 2%;
	margin-top: 5%;
	/*border-left: 2px solid black;
	border-right: 4px solid black;
	border-top: 4px solid black;
	border-bottom: 4px solid black;*/
	/*experimenting with borders*/
}

/*// another CSS file created by Lee Barber*/